<h1>Links Index</h1>
  <%= form_for(@link) do |f| %>
    <%= f.label :url_location %>: <br>
    <%= f.text_field :url_location %><br>

    <%= f.label :title %>: <br>
    <%= f.text_field :title %><br>
      <br>
    <%= f.submit %>
  <% end %>
<br>
<div class="sort-criteria">
  <p>Search: </p>
    <input id="search" type="text" name="name" placeholder="Search...">
    <br>
    <br>
      <p>Sort By </p>
      <p>Read: </p>
        <button class="sort" type="button">true</button>
        <button class="sort" type="button">false</button>
    <br>
    <br>
      <p>OR</p>
        <button id="alpha" type="button" name="button">Sort Alphabetically</button>
</div>

<div class="links">
    <% @links.each do |user_link| %>
      <div id="link" data-id="<%= user_link.id %>">
        <a id="link-url" href=<%= user_link.url_location %>><%= user_link.title %></a>
        <br>
        <br>
          <a id="link-title" href="/<%= user_link.id %>/edit">Edit</a>
        <br>
        <br>
          Read: <p id="status" ><%= user_link.read %></p>
          <button id="change-status" type="button" name="read">Change Status</button>
        <br>
        <br>
          <input class="tag-form" placeholder="Add Tags...">
          <button class="add-tag" type="button">Add Tags</button>
    </div>
  <% end %>
</div>
