<h1>Links Index</h1>

<%= form_for(@link) do |f| %>
  <%= f.label :url_location %>: <br>
  <%= f.text_field :url_location %><br>

  <%= f.label :title %>: <br>
  <%= f.text_field :title %><br>

  <%= f.submit %>
<% end %>
<br>
  <p>Search Links: </p>
    <input id="search" type="text" name="name" placeholder="Search...">
<br>
<br>
  <p>Sort By Read: </p>
    <button class="sort" type="button">true</button>
    <button class="sort" type="button">false</button>
    <br>
    <br>
  <button id="alpha" type="button" name="button">Sort Alphabetically</button>

<div class="links">
    <% @links.each do |user_link| %>
      <div id="link" data-id="<%= user_link.id %>">
      <a id="link-url" href=<%= user_link.url_location %>><%= user_link.title %></a>
      <a id="link-title" href="/<%= user_link.id %>/edit">Edit</a>
      Read: <p id="status" ><%= user_link.read %></p>
      <button id="change-status" type="button" name="read">Change Status</button>
    </div>
  <% end %>
</div>
