<h1>Links Index</h1>

<%= form_for(@link) do |f| %>

<%= f.label :url_location %>
<%= f.text_field :url_location %>

<%= f.label :title %>
<%= f.text_field :title %>

<%= f.submit %>

<% end %>


<% @links.each do |user_link| %>
  <a href=<%= user_link.url_location %>><%= user_link.title %></a>
<% end %>
